@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url("font/Roboto-Regular.ttf");
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 450px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#authorization-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#authorization-form * {
    margin-bottom: 5px;
}

#loginButton {
    background-color: #5181b8;
    color: white;
    border-radius: 5px;
    padding: 5px;
}